/* Grundlegende Stile für die Seite */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1DCC9;
    color: #333;
  }
  
  /* Header-Stile */
  .header {
    text-align: center;
    background-color: #42313A;
    color: white;
    padding: 20px 0;
    font-size: 24px;
  }

  .header img {
    width: 80px;
  }
  
  /* Container für die Bücher */
  .books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  /* Einzelnes Buch-Element */
  .book {
    background-color: #42313A;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .book h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }

  h3 {
    color: white;
  }

  .book strong {
    text-decoration: underline;
  }
  
  .book p {
    margin: 5px 0;
    color: white;
  }
  
  .book ul {
    list-style-type: none;
    padding: 0;
  }
  
  .book ul li {
    margin: 5px 0;
    font-size: 14px;
    color: white;
  }
  
  .book input {
    width: calc(100% - 22px);
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .book button {
    background-color: #6C2D2C;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .book button:hover {
    background-color: #9F4636;
  }

  .book img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .book button img {
    width: 30px;
  }

  .save-button-logo {
    display: flex;
  }